#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #FCFCFC;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 30px 0px;
}

.swiper-slide {

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  padding: 0px;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  display: none;
  border-radius: 10px !important;
  width: 20px !important;
  background: #17107F;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-15%);
  background-color: #E8E7F2 !important;
  border-radius: 100%;
  height: 48px !important;
  width: 48px !important;
  cursor: pointer;
}

.swiper-button-next {
  right: 5px !important; /* Move further right */
}

.swiper-button-prev {
  left: 5px !important; /* Move further left */
}

/* Style the button text */
.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
  color: white !important;
  font-size: 14px !important;
  font-weight: bolder;
  cursor: pointer;
}




@media only screen and (max-width: 1100px) {
  .swiper-button-next {
    display: none !important;
  }

  .swiper-button-next::after {
    content: '';
    display: none !important;
  }

  .swiper-button-prev {
    display: none !important;
  }

  .swiper-button-prev::after {
    content: '';
    display: none !important;
  }
}